@import '../styles/mixins';

.main {
  flex-grow: 1;
  background-color: #dedede;
  position: relative;

  &__blog {
    width: 80vw;
    margin: 0 auto;
    padding: 3rem 10rem;
  }

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 70vw;
    background-color: #eeeeee;
    box-shadow: 0 1.6rem 5rem rgba(0, 0, 0, 0.347);
    border-radius: 1rem;
    padding: 2rem 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__heading {
    font-size: 3rem;
    color: #26204d;
    font-weight: lighter;
    text-transform: uppercase;
  }

  &__search {
    &_box {
      height: 7rem;
      width: 50rem;
      display: flex;
      align-items: stretch;

      @include respond(tab-port) {
        width: 40rem;
      }
    }

    &_date {
      width: 70%;
      outline: none;
      border-radius: 2rem 0 0 2rem;
      padding: 0 3rem;
      font-size: 2.5rem;
    }

    &_find {
      width: 30%;
      background-color: #26204d;
      font-size: 2.4rem;
      color: #e0e0e0;
      border-radius: 0 2rem 2rem 0;
      margin-left: -0.5rem;
      cursor: pointer;
      letter-spacing: 1px;
      outline: none;
    }
  }
}

.goBack {
  text-decoration: none;
  text-transform: uppercase;
}

.author {
  height: min-content;
  width: 80%;
  margin: 2rem auto;
  padding: 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 1.4rem 4rem rgba(#000, 0.2);

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    margin: 0;
    border-radius: 50%;
  }
}
